<!-- Side Menu -->
<p-sidebar [(visible)]="sidebarVisible" 
          [baseZIndex]="10000"
          [style]="{width:'300px'}"
          styleClass="p-sidebar-md"
          position="left">
  <h3 class="text-center">Instituto Bíblico Elim Colombia</h3>
  <ul class="list-none p-0 m-0">
    <li class="p-3 hover:bg-gray-100 cursor-pointer border-bottom-1 border-gray-200">
      <i class="pi pi-home mr-2"></i>Inicio
    </li>
    <li class="p-3 hover:bg-gray-100 cursor-pointer border-bottom-1 border-gray-200">
      <i class="pi pi-user mr-2"></i>Perfil
    </li>
    <li class="p-3 hover:bg-gray-100 cursor-pointer border-bottom-1 border-gray-200">
      <i class="pi pi-cog mr-2"></i>Configuración
    </li>
    <li class="p-3 hover:bg-gray-100 cursor-pointer border-bottom-1 border-gray-200">
      <i class="pi pi-file mr-2"></i>Estudiante
    </li>
    <li class="p-3 hover:bg-gray-100 cursor-pointer">
      <i class="pi pi-question-circle mr-2"></i>Ayuda
    </li>
  </ul>
</p-sidebar>