.fondo-container {
    width: 80%;
    //*background-image: url('/assets/images/hero-1.png');
    //background: linear-gradient(#00809f, #005b71);
    background: linear-gradient(#fff, #f4f2f2);
    text-align: center;
    border-radius: 5px;
  
  }

  