<app-header></app-header>
<div class="grid grid-nogutter surface-section text-800">
        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Instituto Bíblico</span>
            <div class="text-6xl text-primary font-bold mb-3">Elim Colombia</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Dios les bendiga queridos estudiantes, esta es nuestra plataforma. Deseamos que sus conocimientos en La Palabra de nuestro creador crezcan así como su devoción al Eterno.</p>
            <a href="https://drive.google.com/file/d/1XpF1996Z0epfWrB--UAxTEjgwgaXkAFK/view?usp=sharing" target="_blank"
            class="text-white-alpha-70 hover:text-white cursor-pointer transition-colors transition-duration-150">
            <button pButton pRipple label="Plan de Estudios" type="button" class="mr-3 p-button-raised"></button></a>
           
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/images/oasis.jpg" alt="Image" class="md:ml-auto block max-h-25rem  "
         style="clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
  </div>


   


  <app-footer></app-footer>