.ieDKsf 
{
    position: relative;
width: 56px;
height: 56px;
border-radius: 16px;
background: rgba(255, 255, 255, 0.25);
backdrop-filter: blur(8px);
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
color:black}

.cwPbKd {
    position: relative;
    text-decoration: none;
    display: flex
;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    width: 72px;
    height: 107px;
    cursor: pointer;
    gap: 8px;
}